In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

df = pd.read_csv("data/forestfires.csv",delimiter=",")
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [11]:

groupby_obj = df.groupby('month')
gdf = groupby_obj.count()
gdf.sort_values("area")

         X    Y  day  FFMC  DMC   DC  ISI  temp   RH  wind  rain  area
month
nov      1    1    1     1    1    1    1     1    1     1     1     1
jan      2    2    2     2    2    2    2     2    2     2     2     2
may      2    2    2     2    2    2    2     2    2     2     2     2
apr      9    9    9     9    9    9    9     9    9     9     9     9
dec      9    9    9     9    9    9    9     9    9     9     9     9
oct     15   15   15    15   15   15   15    15   15    15    15    15
jun     17   17   17    17   17   17   17    17   17    17    17    17
feb     20   20   20    20   20   20   20    20   20    20    20    20
jul     32   32   32    32   32   32   32    32   32    32    32    32
mar     54   54   54    54   54   54   54    54   54    54    54    54
sep    172  172  172   172  172  172  172   172  172   172   172   172
aug    184  184  184   184  184  184  184   184  184   184   184   184

In [14]:
gdf2 = groupby_obj.max()
gdf2.sort_values("area")

       X  Y  day  FFMC    DMC     DC   ISI  temp   RH  wind  rain     area
month
jan    4  5  sun  82.1    3.7  171.4   2.9   5.3  100   3.1   0.0     0.00
nov    6  3  tue  79.5    3.0  106.7   1.1  11.8   31   4.5   0.0     0.00
dec    8  6  wed  85.4   27.8  354.6   6.8   5.1   61   8.5   0.0    24.77
mar    8  6  wed  93.4   52.2  103.8  12.5  18.8   99   9.4   0.2    36.85
may    6  5  sat  89.6   28.0  113.8   5.7  18.0   94   4.9   0.0    38.48
oct    8  6  wed  92.6   48.5  696.1  11.1  21.7   60   5.4   0.0    49.37
feb    9  9  wed  86.9   27.5  353.5   7.7  15.7   82   9.4   0.0    51.78
apr    7  5  wed  91.0   27.4   97.1  12.3  17.6   75   9.4   0.0    61.13
jun    9  6  wed  94.3  180.4  433.3  56.1  28.0   90   9.4   0.0    70.32
jul    9  9  wed  94.6  263.1  795.9  16.8  30.2   90   8.0   0.2   278.53
aug    9  9  wed  96.2  273.8  819.1  22.7  33.3   96   8.9   6.4   746.28
sep    9  6  wed  94.3  291.3  860.6  22.6  30.2   86   7.6   0.0  1090.84

In [13]:
df.area.max()

1090.84